<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Stoyanov_Restaurants::restaurants"
             title="Restaurants"
             module="Stoyanov_Restaurants"
             sortOrder="50"
             resource="Stoyanov_Restaurants::restaurants"/>

        <add id="Stoyanov_Restaurants::restaurants_view"
             title="View Restaurants"
             module="Stoyanov_Restaurants"
             sortOrder="10"
             parent="Stoyanov_Restaurants::restaurants"
             action="restaurants/restaurant/index"
             resource="Stoyanov_Restaurants::restaurants_view"/>

        <add id="Stoyanov_Restaurants::restaurants_edit"
             title="Manage Restaurants"
             module="Stoyanov_Restaurants"
             sortOrder="20"
             parent="Stoyanov_Restaurants::restaurants"
             action="restaurants/restaurant/edit"
             resource="Stoyanov_Restaurants::restaurants_edit"/>
    </menu>
</config>
