<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Stoyanov\Restaurants\Api\RestaurantRepositoryInterface"
            type="Stoyanov\Restaurants\Model\RestaurantRepository"/>
    <preference for="Stoyanov\Restaurants\Api\RestaurantBuilderInterface"
                type="Stoyanov\Restaurants\Model\RestaurantBuilder"/>
    <preference for="Stoyanov\Restaurants\Api\RestaurantRepositoryInterface"
      type="Stoyanov\Restaurants\Model\RestaurantRepository"/>
    <preference for="Stoyanov\Restaurants\Api\Data\RestaurantInterface"
                type="Stoyanov\Restaurants\Model\Restaurant" />
    <preference for="Stoyanov\Restaurants\Api\Data\RestaurantSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Stoyanov\Restaurants\Api\RequestRestaurantInterface"
                type="Stoyanov\Restaurants\Helper\RequestRestaurant"/>
    <preference for="Stoyanov\Restaurants\Api\RestaurantManagerInterface"
                type="Stoyanov\Restaurants\Helper\RestaurantManager"/>
</config>
